body {
  height: auto;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

.latar {
  background-image: url("image/3201.jpg");
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
}

.jssorb05 {
    position: absolute;
}

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('image/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb05 div {
    background-position: -7px -7px;
}

.jssorb05 div:hover, .jssorb05 .av:hover {
    background-position: -37px -7px;
}

.jssorb05 .av {
    background-position: -67px -7px;
}

.jssorb05 .dn, .jssorb05 .dn:hover {
    background-position: -97px -7px;
}

.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('image/a22.png') center center no-repeat;
    overflow: hidden;
}

.jssora22l {
    background-position: -10px -31px;
}

.jssora22r {
    background-position: -70px -31px;
}

.jssora22l:hover {
    background-position: -130px -31px;
}

.jssora22r:hover {
    background-position: -190px -31px;
}

.jssora22l.jssora22ldn {
    background-position: -250px -31px;
}

.jssora22r.jssora22rdn {
    background-position: -310px -31px;
}

.jssora22l.jssora22lds {
    background-position: -10px -31px; opacity: .3; pointer-events: none;
}

.jssora22r.jssora22rds {
    background-position: -70px -31px; opacity: .3; pointer-events: none;
}

.nav-bar ul {
  text-align: center;
  background-color: #f2635f;
}

.nav-bar li {
  display: inline-block;
  padding: 10px 50px 10px 50px;
  color: white;
}

.nav-bar a {
  color: black;
  text-decoration: none;
}

.nav-bar a:hover {
  color: white;
  text-decoration: none;
}

.left {
  height: 863px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.left h2 {
  background-color: #f2635f;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.left a {
  color: black;
  text-decoration: none;
}

.left a:hover {
  color: white;
}

.left ul {
  list-style: none;
}

.center {
  height: 863px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.center h2, h3 {
  text-align: center;
}

.center h2 {
  background-color: #f2635f;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.center p {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.right {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.right h2{
  text-align: center;
  background-color: #f2635f;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.right h3 {
  text-align: center;
}

.right a {
  text-decoration: none;
  color: black;
}

.right a:hover {
  color: white;
}

.poster {
  text-align: center;
}

.footnote {
  text-align: center;
  padding: 10px 0px 10px 0px;
  background-color: #f2635f;
}

@media only screen and (min-width: 768px) and (max-width: 995px) {
    .nav-bar li {
      font-size: 1em;
    }
    .left {
        height: 900px;
    }
    .left h2, li {
      font-size: 1em;
    }
    .center {
        height: 900px;
    }
    .center h2, h3, p {
      font-size: 1em;
    }
    .right {
        height: 900px;
    }
    .right h2, h3 {
        font-size: 1em;
    }
    .footnote {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .nav-bar li {
      font-size: 1em;
      padding: 5px 30px;
    }
    .left {
        height: 400px;
    }
    .left h2, li {
        font-size: 1em;
    }
    .center {
        height: 850px;
    }
    .center h2, h3, p {
        font-size: 1em;
    }
    .right {
        height: 850px;
    }
    .right h2, h3 {
        font-size: 1em;
    }
    .footnote {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 479px) {
  .nav-bar li {
    font-size: 1em;
    padding: 5px;
  }
  .left {
      height: 400px;
  }
  .left h2, li {
      font-size: 1em;
  }
  .center {
      height: 1150px;
  }
  .center h2, h3, p {
      font-size: 1em;
  }
  .trailer IFRAME{
      width: 250px;
      height: 141px;
  }

  .right {
      height: 850px;
  }
  .right h2, h3 {
      font-size: 1em;
  }
  .footnote {
      margin-top: 20px;
  }
}
